name: "SwiftyUtils CI"

on: 
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master

jobs:
  macOS:
    name: Test macOS
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: brew install swiftlint
      - name: macOS
        run: set -o pipefail && env NSUnbufferedIO=YES xcodebuild -project "SwiftyUtils.xcodeproj" -scheme "SwiftyUtils macOS" -destination "platform=macOS" clean test | xcpretty
  iOS:
    name: Test iOS 
    runs-on: macOS-latest
    strategy:
      matrix:
        destination: ["OS=13.1,name=iPhone 11 Pro"] #, "OS=12.4,name=iPhone XS", "OS=11.4,name=iPhone X", "OS=10.3.1,name=iPhone SE"]
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: brew install swiftlint
      - name: iOS - ${{ matrix.destination }}
        run: set -o pipefail && 
             env NSUnbufferedIO=YES xcodebuild -project "SwiftyUtils.xcodeproj" -scheme "SwiftyUtils iOS" -destination "${{ matrix.destination }}" clean test | xcpretty &&
             xcodebuild -workspace "SwiftyUtils.xcworkspace" -scheme "iOS Example" -destination "${{ matrix.destination }}" clean 
  tvOS:
    name: Test tvOS 
    runs-on: macOS-latest
    strategy:
      matrix:
        destination: ["OS=13.0,name=Apple TV 4K"] #, "OS=11.4,name=Apple TV 4K", "OS=10.2,name=Apple TV 1080p"]
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: brew install swiftlint
      - name: tvOS - ${{ matrix.destination }}
        run: set -o pipefail && env NSUnbufferedIO=YES xcodebuild -project "SwiftyUtils.xcodeproj" -scheme "SwiftyUtils tvOS" -destination "${{ matrix.destination }}" clean test | xcpretty
  watchOS:
    name: Build watchOS
    runs-on: macOS-latest
    strategy:
      matrix:
        destination: ["OS=6.0,name=Apple Watch Series 5 - 44mm"] #, "OS=4.2,name=Apple Watch Series 3 - 42mm", "OS=3.2,name=Apple Watch Series 2 - 42mm"]
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: brew install swiftlint
      - name: watchOS - ${{ matrix.destination }}
        run: set -o pipefail && env NSUnbufferedIO=YES xcodebuild -project "SwiftyUtils.xcodeproj" -scheme "SwiftyUtils watchOS" -destination "${{ matrix.destination }}" clean build | xcpretty
  spm:
    name: Test SPM Integration
    runs-on: macOS-latest    
    needs: [macOS]
    steps:
      - uses: actions/checkout@v1
      - name: SPM Build
        run: swift build